@{
    ViewData["Title"] = "Все товары";
}
@model IQueryable<Product>

<h3 class="p-2 bg-bg-primary text-white text-center">Товары</h3>
<div class="container">
    <div class="row">
        <div class="col font-weight-bold">Название</div>
        <div class="col font-weight-bold">Категория</div>
        <div class="col font-weight-bold">Закупочная цена</div>
        <div class="col font-weight-bold">Розничная цена</div>
        <div class="col"></div>
    </div>
    <form asp-action="AddProduct" asp-controller="Home" method="post">
        <div class="row">
            <div class="col">
                <input name="Name" class="form-control" required />
            </div>
            <div class="col">
                <input name="Category" class="form-control" required />
            </div>
            <div class="col">
                <input name="PurchasePrice" class="form-control" required />
            </div>
            <div class="col">
                <input name="RetailPrice" class="form-control" required />
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </div>
    </form>
    @if (Model.Count() == 0)
    {
        <div class="row">
            <div class="col text-center p-2">Нет данных</div>
        </div>
    }
    else
    {
        @foreach (Product product in Model)
        {
            <div class="row р-2">
                <div class="col">@product.Name</div>
                <div class="col">@product.Category</div>
                <div class="col text-right">@product.PurchasePrice</div>
                <div class="col text-right">@product.RetailPrice</div>
                <div class="col"></div>
            </div>
        }
    }
</div>
